* {
  margin: 0;
  padding-top: 0;
}
body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: xx-large;
  background-color: rgb(193, 227, 227);
}

h1 {
  background-color: rgb(187, 241, 163);
  color: rgb(0, 0, 0);
  padding: 20px;
}

input {
  padding: 15px;
  margin: 50px;
  border-radius: 10px;
}

button {
  padding: 15px;
  margin-left: 10px;
  border-radius: 10px;
}

li {
  list-style: none;
  margin: 10px;
}

.completed {
  text-decoration: line-through;
  color: rgb(255, 255, 255);
}

#error {
  color: red;
}
